

<h1>List Products</h1>
    
<ul class="list-group list-group-horizontal">
<% @products.each do |product| %>
    <li class="list-group-item ml-5">
    <a href="#">
        <div class="card" style="width: 18rem;">
        <%= image_tag("teste.jpeg", class:"card-img-top", size: "20x150") %>
            <div class="card-body">
                <h5 class="card-title"><%= product["name"] %></h5>
                <p class="card-text"><%= product["description"] %> </p>
                <span class="badge badge-success"><h3>R$<%= product["price"] %></h3></span>
            </div>
        </div>
        </a>
    </li>
<% end %>
</ul>