// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.row{
margin-right: 0px;
margin-left: 0px;
}
.container-fluid{
padding-right: 0;
padding-left: 0;
}

.nav-button{
    color: #007bff;
    background-color: #343a40;
    border: 1px solid #343a40;
    text-align: right;
    &:hover {background-color: #007bff; color: black};
}
button.btn.dropdown-toggle{
    border: 1px solid #343a40;
    text-align: right;
    border-radius: 0px;
    height: 100%;
}
